<div class="shadow p-3 bg-body rounded container mb-3">
    <form method="POST" action="/newUrl">
      <label for="originalUrl" class="form-label">Enter a long URL</label>
      <input
        type="url"
        name="originalUrl"
        id="originalUrl"
        class="form-control mb-2"
        placeholder="Enter the link here"
        required
      />
      <button type="submit" class="btn btn-primary w-100">Shorten URL</button>
    </form>
  </div>