<%- include('./partials/header') %> 
   <%- include('./partials/navbar') %> 
    <div class="shadow p-3 bg-body rounded container mb-3 d-flex flex-column align-items-center">
      <h1>404 Page</h1>
      <h4><%= message %></h4>
      <a class="btn btn-primary" href="/" role="button">GO HOME</a>
    </div>
<%- include('./partials/footer') %> 
