<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener</title>
  </head>
  <body>
    <h1>Url Shortener</h1>
    <form method="POST" action="/newUrl">
      <label for="originalUrl">Url</label>
      <input type="url" name="originalUrl" id="originalUrl" />
      <button type="submit">Submit</button>
    </form>
    <% allUrls.map((url)=>{%>
    <div>
      <a href="<%= url.originalUrl %>" target="_blank" rel="noopener noreferrer"
        ><%= url.originalUrl %></a
      >
      <a href="/<%= url.shortUrl %>" target="_blank" rel="noopener noreferrer"
        ><%= url.shortUrl %></a
      >
    </div>
    <% })%>
  </body>
</html>
